body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
	border-width: 10px;
    border-style: solid;
	border-color: #4697C0;
}

h2 {
	font-family: Segoe Marker;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px groove;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

input[type=number] {
    width: 6em;
}


input[type=submit] {
  background: #4697C0;
  border: outset;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: .75em 2em;
  position: relative;
   
}
  